
body{
	font-family: Arial;
	background-color: #eee;
	padding: 40px;
}

.card{
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 0 8px #ccc;
	border-radius: 10px;
	padding: 60px;
	margin: 10px 0;
}

h1, h2, h3, h4, h5, h6{
	border-bottom: 1px solid #aaa;
	font-weight: bolder;
}

.mono{
	font-family: consolas;
	background: #eee;
	border-radius: 3px;
	padding: 2px;
	margin: 3px;
	border: 1px solid #777;
}
li{
	margin-bottom: 15px;
}
.hint{
	color: #666;
}
img{
	margin: 5px;
	box-shadow: 0 0 4px #ddd;
	border-radius: 5px;
}

.ptn{
	background: #ffa;
	width:30%;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 15px 0;
	border-radius: 4px;
}
button{
	padding: 10px;
	background-color: royalblue;
	border: none;
	margin: 2px;
	color: white;
	box-shadow: 0 0 3px #333;
	cursor: pointer;
	transition-duration: 200ms;
	font-size: 15px;
	border-radius: 4px;
}
button:hover{
	font-weight: bold;
	background-color: white;
	box-shadow: 0 0 10px #666;
	color: royalblue;
}
button:active{
	transition-duration: 0;
	opacity: 0.5;
	transform: scale(0.99);
}
input, textarea{
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 2px solid #aaf;
	transition-duration: 200ms;
	background-color: #fff;
}
input:hover, textarea:hover{
	box-shadow: 0 0 5px royalblue;
}
input:focus, textarea:focus{
	border: 2px solid royalblue;
	background-color: #ddf;
	outline: none;
	box-shadow: 0 0 5px royalblue;
}
input[type=checkbox], input[type=file]{
	cursor: pointer;
}

.html-editor{
	border: 1px solid #888;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 8px #ccc;
}

.html-editor textarea:focus{
	background: #fff;
}
.html-editor textarea{
	background: #eee;
	transition-duration: 100ms;
	border: none;
	resize: none;
	outline: none;
	font-size: 17px;
	width: 50%;
	padding: 10px;
	height: 100%;
	font-family: Consolas;
	border-right: 1px solid #888;
	min-height: 75vh;
	font-weight: 100;
}
.html-editor #output{
	width: 50%;
	height: 100%;
	padding: 10px;
	overflow-x: auto;
	text-overflow: ellipsis;
}