html {
    background-color: #ccb;
}
body {
    background-color: #00000000;
    opacity: 0;
}

* {
    font-family: 'Lora', serif;
    font-size: 4vw;
    transition-duration: 150ms;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.disease-title {
    background-color: #ddc;
    border-radius: 2vw;
} 

.title p{
    color: grey
}

.clickable, .clickable * {
    color: grey;
    cursor: pointer;
    user-select: none;
    transition-duration: 0ms;
}

.clickable:active, .clickable:active * {
    text-decoration: underline;
    color: #000;
}



.search {
    width: 100%;
    padding: 0;
    outline: none;
    margin-bottom: 0.8vw;
    display: flex;
}

.search input {
    width: 100%;
    padding: 2vw;
    font-size: 5vw;
    background-color: #eeeddd;
    border-radius: 2vw;
    border: 0.05vw solid #aaa;
    outline: none;
    color: grey;
} 

.search input:focus{
    background-color: #fff;
    border: 0.05vw solid #777;
    color: black;
    box-shadow: inset 0 0 12px #ccc;
}

.search i{
    position: relative;
    left: -9vw; top: 3vw;
    width: 0;
    font-size: 6vw;
    user-select: none;
    color: black;
    opacity: 0.5;
}

.grey {color: #555;}
.grey * {color: black; font-weight: 500;}

.disease-app #list .disease-title:active{
    transition-duration: 0ms;
    background-color: #ccb;
    box-shadow: inset 0 0 1.2vw #bbb;
    user-select: none;
}


#diseases-section {
    position: relative;
}
#diseases-section #list, #diseases-section #desc {
    width: 100%;
    position: absolute;
    padding-bottom: 10vh;

}

.disease-app #list {
    margin-left: 0px;
    opacity: 1;
}

.disease-app #desc {
    margin-left: 2vw;
    opacity: 0;
}

.disease-open #list{
    margin-left: -2vw;
    opacity: 0;
}

.disease-open #desc{
    margin-left: 0px;
    opacity: 1;
}

.loader {
    margin: 10px;
    width: 20px;
    user-select: none;
    transition-duration: 0ms;
}

.credit {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    padding: 10px;
    padding-top: 25px;
    background: linear-gradient(#00000000, #ccb);
    transform: translateX(-50%);
    z-index: 10;
}

.page-body {
    margin: auto;
    padding: 0 4%;
}

@media screen and (min-width: 1000px) {
    .page-body {
        padding: 0 25%;
    }
    * {
        font-size: 0.9vw;
    }
    
    .clickable:hover, .clickable:hover * {
        text-decoration: underline;
        color: #666;
    }

    .disease-app #list .disease-title:hover{
        cursor: pointer;
        background-color: #eed;
        box-shadow: inset 0 0 1.2vw #ccc;
    }
    
    .disease-app #list .disease-title:hover div h3{
        text-decoration: underline;
    }
    
    .search input:hover{
        box-shadow: inset 0 0 12px #ccc;
        color: black;
    }
    
    .search input {        
        width: 100%;
        padding: 1vw;
        font-size: 2vw;
        background-color: #eeeddd;
        border-radius: 0.6vw;
        border: 0.05vw solid #aaa;
        outline: none;
        color: grey;
    }
    .search i{
        left: -3.5vw; top: 2vw;
        margin-top: -0.5vw;
        width: 0;
        font-size: 2vw;
    }    
    .disease-title {
        border-radius: 0.6vw;
    }
}
  
/*copied from w3schools :D*/
/* width */
body::-webkit-scrollbar {
    width: 5px;
}

    /* Track */
body::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 10px;
}

    /* Handle */
body::-webkit-scrollbar-thumb {
    background: #443;
    border-radius: 10px;
}

    /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #332;
}

    /* Handle on hover */
body::-webkit-scrollbar-thumb:active {
    background: #110;
}