html {background: #1a1a1a;}
* {
	transition-duration: 150ms; 
	font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 100;
	color: #ddd;
}

hr {opacity: 0.15;}

body {
	margin: 0 15%;
	background: #222;
	min-height: 85vh;
	font-size: 1vw;
	box-shadow: 0 0 128px 120px #222;
}

#page-title {
	font-size: 4vw;
}

.b {box-shadow: #222 0 0 20px 16px; opacity: 1;}

h1, h2, h3, h4, h5, h6, h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1.main-heading {
	text-align: center;
	padding: 0px 20px;
	font-weight: bold;
	font-size: 70px;
}

b {
	font-weight: bold;
}

a, a:visited, a > * {
	color: #bbf;
}

a:hover, a:hover > * {
	color: #fff;
	border-color: #fff;
}

a, a:visited{
	text-decoration: none;
	font-style: italic;
	border-bottom: 0.1vw solid #bbf;
	border-radius: 5px;
}

a:hover {
	border-bottom: 0.15vw solid #fff;
	border-radius: 0px;
}

a:active {
	border-radius: 4px !important;
	outline: 0.2vw solid #7575f855;
	background-color: #7575f855;
	opacity: 0.5;
}

hr.half {
	width: 50%;
}

body .body{
  padding: 25px
}

footer {
  background: #202020; 
  border-top: 4px solid #282828;
  padding: 30px;
}

footer p{
	color: darkgrey;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #222;
}

.card-link {
	display: block;
}

.card-link{
	color: black;
	text-decoration: none;
}

.card-link:hover {
	background: #ddF;
	
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
	flex: 1;
}


@media only screen and (max-width: 1000px) {
	body {
		box-shadow: none;
		margin: 0;
		font-size: 3vw
	}
	html {
		background: #fff;
	}
	.header td{
		text-align: center;
		margin: auto;
		display: inline;
		width: 100vw;
		padding: 0;
		font-size: 60px;
	}	
	.header p{
		font-size: 50px;
	}

	#page-title {
		font-size: 120px;
	}
	.header td img {
		width: 100vw;
		margin: auto;
	}	
}
