html {background: #1a1a1a;}
* {
	transition-duration: 150ms; 
	font-family: 'Segoe UI', Arial;
	font-weight: 100;
	color: #ddd;
}

hr {opacity: 0.15;}

body {
	margin: 0 15%;
	background: #222;
	min-height: 85vh;
	font-size: 1vw;
	/* opacity: 0; */
}

#page-title {
	font-size: 4vw;
}

.b {box-shadow: #222 0 0 20px 16px; opacity: 1;}

h1, h2, h3, h4, h5, h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Segoe UI', Arial;
	font-weight: bold;
}
b {
	font-weight: bold;
}

a,a:visited {
	color: #bbf;
	text-decoration: none;
	font-style: italic;
	border-bottom: 0.1vw solid #bbf;
	border-radius: 5px;
	font-weight: bold;
	margin-right: 3px;
}

a:hover {
	color: #ccf;
	border-bottom: 0.6vw solid #ccf;
}

a:active {
	border-bottom: 0.3vw solid #bbf;
	opacity: 0.5;
}

body .body{
  padding: 25px
}

footer {
  background: #202020; 
  border-top: 4px solid #282828;
  padding: 30px;
}

footer p{
	color: darkgrey;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #222;
}

.card-link {
	display: block;
}

.card-link{
	color: black;
	text-decoration: none;
}

.card-link:hover {
	background: #ddF;
	
}

@media only screen and (max-width: 1000px) {
	body {
		box-shadow: none;
		margin: 0;
		font-size: 3vw
	}
	html {
		background: #fff;
	}
	.header td{
		text-align: center;
		margin: auto;
		display: inline;
		width: 100vw;
		padding: 0;
		font-size: 60px;
	}	
	.header p{
		font-size: 50px;
	}

	#page-title {
		font-size: 120px;
	}
	.header td img {
		width: 100vw;
		margin: auto;
	}	
}
